#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.listItem {
  display: inline;
}

.listWrapperMain {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid white;
  width: 80vh;
}

.toCompleteList {
  border: 2px solid white;
  width: 100%;
}

.completedList {
  border: 2px solid white;
  width: 100%
}