#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.listItem {
  display: inline;
}

.parentContainer {
  display: flex;
  justify-content: center;
}

.inputBoxWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listWrapperMain {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid transparent;
  width: 1500px;
  margin: auto;
  
}

.toCompleteList {
  border: 2px solid white;
  width: 100%;
}

.completedList {
  border: 2px solid white;
  width: 100%
}

.inProgressList {
  border: 2px solid white;
  width: 100%;
}